<%- include("_header") -%>
<body>
    <h1>Customer Export</h1>
    <p>Enter a file name and click Export Customers</br></p>
    <p>Total number of records in the database: <%= totRecs %></p>

    <form action="/output" method="POST">
        <label for="filename">File name:</label>
        <input type="text" name="filename" id="filename" value="export" /><p></p>
        <button type="submit">Export Customers</button>
    </form>
</body>
</html>
<%- include("_footer") -%>