<%- include("_header") -%>

<!DOCTYPE html>
<html>
<head>
    <title>Customer Export</title>
</head>
<body>
    <h1>Customer Export</h1>
    <h2>Enter a file name and click Export Customers</h2>
    <h4>Total number of records in the database: <%= totRecs %></h4>

    <% if (message) { %>
        <h3><%= message %></h3>
    <% } %>

    <form action="/output" method="POST">
        <label for="filename">File name:</label>
        <input type="text" name="filename" id="filename" value="export" /><p></p>
        <button type="submit">Export Customers</button>
    </form>
</body>
</html>
<%- include("_footer") -%>